@{
    ViewBag.Title = "VerifyLoginCode";
    Layout = null;
}

<head>
    @Styles.Render("~/Content/UserLogin/css")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<h2>Ingrese el código de verificación enviado a "@TempData["Email"]"</h2>

<!-- No se necesita un formulario tradicional ya que usaremos AJAX -->
<div class="form-group">
    <input type="text" id="code" name="code" class="form-control" required />

    <!-- El correo se pasa desde TempData -->
    <input type="text" id="email" name="email" value="@TempData["Email"]" hidden />
</div>
<button type="submit" id="verifyBtn" class="btn btn-success">Verificar</button>

<script>
    // Asegúrate de que el formulario se haya enviado correctamente antes de redirigir.
    $("#verifyBtn").click(function(event) {
        event.preventDefault(); // Evitar la acción predeterminada de submit.

        var email = $("#email").val();
        var code = $("#code").val();

        $.ajax({
            url: '@Url.Action("VerifyLoginCode", "User")',
            type: 'POST',
            data: {
                email: email,
                code: code
            },
            success: function(data) {
                if (data.Message === "Login exitoso") {
                    // Almacenar el token en LocalStorage
                    localStorage.setItem("authToken", data.Token);

                    // Redirigir al Dashboard
                    window.location.href = '@Url.Action("Contact", "Home")';
                } else {
                    alert(data.Message); // Mostrar el mensaje de error si el código es incorrecto
                }
            },
            error: function() {
                alert("Ocurrió un error al verificar el código.");
            }
        });
    });
</script>
